{% load staticfiles %}
{% load i18n %}
<div class="copyright">
    <div class="container">
        <div class="row">
            <!-- vcenter class suggestion from http://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3 -->
            <div class="col-md-6 vcenter">                     
                <p>
                    <a href="https://bitbucket.org/arches/arches3">Arches v3.0</a>  |  <a href="https://github.com/mradamcox/crip">CRIP (Cane River Inventory Package)</a>
                </p>
            </div>
            <div class="col-md-6 vcenter">  
                <a href="http://www.archesproject.org">
                    <img class="pull-right arches-logo" id="logo-footer" src="{{ STATIC_URL }}img/PoweredByArches.png" alt="">
                </a>
            </div>
        </div>
    </div> 
</div>