{% load staticfiles %}
{% load i18n %}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 md-margin-bottom-40">
                <!-- About -->
                <div class="headline"><h2>About</h2></div>  
                <p class="margin-bottom-25 md-margin-bottom-40">
                    The Cane River Historic Inventory and Map is created using Arches, an open source software platform that is built to inventory and help manage all types of immovable cultural heritage.  This deployment of Arches has been customized to reflect the unique character of the Cane River National Heritage Area.  Find out more about Arches <a href="http://www.archesproject.org">here</a>. Ongoing support for inventory comes from the <a href="http://ncptt.nps.gov/" target="_blank">National Center for Preservation Technology and Training.</a>
                </p>  

                <!-- End About -->

                
            </div><!--/col-md-4-->  
            
            <div class="col-md-4 md-margin-bottom-40">

                <!-- Monthly Newsletter -->
                <div class="headline"><h2>Get Connected</h2>
                
                    <div style="float:left">
                        <p><a href="http://canerivernha.org/newsletter-signup" target="_blank" class="hover-effect">Subscribe</a> to our newsletter and stay up to date with the latest CRNHA news.  Or, find us on social media:</p>
                        <ul class="social-icons">
                            
                            <li><a href="https://www.facebook.com/CaneRiverNHA" data-original-title="Facebook" class="social_facebook"></a></li>
                            <li><a href="https://www.linkedin.com/company/cane-river-national-heritage" data-original-title="Linkedin" class="social_linkedin"></a></li>
                            <li><a href="https://www.youtube.com/watch?v=9CreDDpnLNM" data-original-title="YouTube" class="social_youtube"></a></li>
                            
                            <!-- UNUSED AT THIS TIME
                            <li><a href="javascript:void(0);" data-original-title="Twitter" class="social_twitter"></a></li>
                            <li><a href="javascript:void(0);" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                            <li><a href="javascript:void(0);" data-original-title="Pinterest" class="social_pintrest"></a></li>
                            <li><a href="javascript:void(0);" data-original-title="Feed" class="social_rss"></a></li>
                            -->
                            
                        </ul>
                    </div>
                    <div style="float:right">
                        <address class="md-margin-bottom-40">
                            Cane River National Heritage Area, Inc.<br />
                            1150 Washington Street<br />
                            Natchitoches, LA<br />
                            Phone: 318-356-5555 <br />
                        </address>
                    </div>
                </div>
                
                
                <!-- LEAVE OUT THE QUICK SIGN-UP FORM FOR NOW
                <form class="footer-subsribe">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email Address">                            
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">Subscribe</button>
                        </span>
                    </div>                  
                </form>
                -->
                
                <!-- End Monthly Newsletter -->
                
            </div><!--/col-md-4-->

        </div>
    </div> 
</div> 