{% load staticfiles %}
{% load i18n %}

<div class="header">

    <!-- Topbar -->
    <div class="topbar">
        <div class="container">
            
            <!-- Topbar Message DON'T THINK I NEED THIS
            <div class="arches-loginbar pull-left">
                
                <a href="http://www.archesproject.org" class="">{% trans "Arches" %} </a> 
                <span class="hidden-xs">{% trans "Cultural Heritage Inventory" %}</span>

            </div>
             -->

            <!-- Topbar Navigation -->
            <ul class="loginbar pull-right">
                <li id="help-button">
                    <a href="javascript:void(0);">SHOW HELP</a>
                </li>
                <li class="topbar-devider"></li>   
                <li>
                    <a id="auth-link" href="{% url 'auth' %}?next={{ request.get_full_path }}{% if user.is_anonymous %}">{% trans "Login" %}{% else %}&logout=true">Welcome {{ user.username }} - {% trans "Logout" %}{% endif %}</a>
                </li>
                
            </ul>
            <!-- End Topbar Navigation -->
        </div>
    </div>
    <!-- End Topbar -->

    <!-- Navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">{% trans "Toggle navigation" %}</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img id="logo-header" class="main-logo" src="{{ STATIC_URL }}img/topbar_logo_frutiger.png" alt="Logo">
                </a>
            </div>
<!-- class="arches-logo"-->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    
                    <!-- Home -->
                    <li class="{% if active_page = 'Home' %}active{% endif %}">
                        <a href="{% url 'home' %}">
                            {% trans "Home" %}
                        </a>
                    </li>
                    <!-- End Home -->

                    <!-- New Search-->
                    <li class="{% if active_page = 'Search' %}active{% endif %}">
                        <a href="{% url 'search_home' %}">
                            {% trans "Search" %}
                        </a>
                    </li>
                    <!-- End Search-->

                    <!-- Map -->
                    <li class="{% if active_page = 'Map' %}active{% endif %}">
                        <a href="{% url 'map' %}">
                            {% trans "Map" %}
                        </a>
                    </li>
                    <!-- End Map-->
                    
                    <!-- Map  THIS WAS AN OLD IDEA TO HAVE A DROPDOWN FOR 2 DIFFERENT MAP VIEWS
                    <li class="dropdown {% if active_page = 'Map' %}active{% endif %}">
                        <a href="{% url 'map' %}">
                            {% trans "Map" %}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'map' %}"><i class="fa fa-tasks"></i>Full</a></li>
                            <li><a href="{% url 'search_home' %}"><i class="fa fa-tasks"></i>Cemetery</a></li>
                        </ul>
                    </li>
                    End Map-->

                    {% if user_can_edit %}
                    <!-- Resource Editor-->
                    <li class="dropdown {% if active_page = 'ResourceManger' %}active{% endif %}">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            {% trans "Resource Manager" %}
                        </a>
                        <ul class="dropdown-menu">
                            {% for type, type_data in resource_types %}
                                <li><a href="{% url 'resource_manager' type type_data.default_page '' %}"><i class="{{type_data.icon_class}}"></i>{{type_data.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <!-- End Resource Editor -->

                     <!-- RDM-->
                    {% if user.is_superuser %}
                    <li class="{% if user.is_anonymous %}{% endif %} {% if active_page = 'RDM' %}active{% endif %}">
                        <a href="{% url 'rdm' '' %}">
                            {% trans "RDM" %}
                        </a>
                    </li>
                    {% endif %}
                    <!-- End RDM-->
                    {% endif %}

                    <!-- Search Block NOT FUNCTIONAL AT THE MOMENT, PROBABLY NOT NECESSARY
                    <li>
                        <i class="search fa fa-search search-btn"></i>
                        <div class="search-open arches-search">

                            <div class="input-group animated fadeInDown">
                                <!-- Project Dropdown
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group" id="simple-search">
                                            <span class="input-group-addon"><i class="fa fa-search text-muted"></i></span>
                                            {% include "views/simple-search.htm" %}
                                        </div>
                                    </div>
                                </div>  
                                <!-- End Project Dropdown
                            </div>
                        </div>    
                    </li>
                    <!-- End Search Block -->
                </ul>
            </div><!--/navbar-collapse-->
        </div>    
    </div>            
    <!-- End Navbar -->
    <div id="help-contents" style="display: none">
        <div class="purchase">
            <div class="container">
                <div id="hide-help-button" style="float:right">
                    <h6><a href="javascript:void(0);">HIDE HELP</a></h6>
                </div>
                <div class="row">
                    {% if active_page = 'Search' %}
                    <div class="col-md-12" style="float:left;">
                        <span>Using the SEARCH Tab</span>
                        <h6 style="color: #555">Basic Searching</h6>
                        <p>All resources in the inventory can be found using a variety of different sorting and filtering methods, all of which are accessed right here on the SEARCH tab. To make a general search for a word--"church", for example--type the word and hit Enter. This will return any resources that are associated with the word "church". To make the search more specific, instead of hitting Enter, select a term from the dropdown list that is provided when you type the word church. You will see a number of options, which should be interpreted like this: "'church' as a Heritage Resource Type", "'church' as a Keyword", etc.</p>
                        <p>You can narrow your search by adding as many additional search terms to the search bar as necessary. Each new search term will combine with any existing terms to create a combined filter. You can remove a search term by clicking the 'x', or you can <em>reverse</em> a search--for all resources that <em>do not</em> include the word 'church'--by clicking on the existing search term in the box.</p>
                        <h6 style="color: #555">Advanced Searching</h6>
                        <p>In addition to combining multiple search terms, you can apply the Location Filter and/or Time Filter to add location or temporal filters to your search. Once enabled, these filters are added to the search bar just like keyword search terms.
                        <ul>
                            <li>With the Location Filter enabled, you'll see a map of the area with all resources shown: red if they fit the current search filters, gray if they don't.  To create a filter based on location, use the "Map Tools".  You can create a point, line, or polygon, and then apply a buffer to show resources that fit within a given distance of the shape.  To create a line or polygon, click to create each new vertex, and double-click to finish the shape.</li>
                            <li>The Time Filter allows you to only show results that fit within a given range of dates.  Use the slider to narrow or broaden the date range you are interested in viewing</li>
                        </ul>
                    </div>
                    <!--Permissions Info Box -->  
                    {% if active_page = 'Map' %}
                    <div class="title-box no-border margin-top-minus-10" style="border-bottom-color: #dcdcdc;">
                        <p>Permissions summary for {{user.username}}
                        <br>Create new records: {{user_permissions.can_create}}
                        <br>Access to these resource types:
                        {% for restype in user_permissions.entities_allowed %}
                            <br>{{ request.get_full_path }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <!-- End Title Box -->
                    <div class="col-md-12 animated fadeInRight" style="float:left;">
                        <span>About the Cane River Heritage Inventory & Map</span>
                        <p>The CRHIM is one of the first deploymenst o <a href="http://www.canerivernha.org" target="_blank">Cane River National Heritage Area</a> has created this database to serve everyone interested in the unique history of the Cane River and its environs.  The inventory includes audio interviews, historic maps, photos, and information on local historic resources.  Support for the ongoing maintenance of the inventory comes from the <a href="http://ncptt.nps.gov/" target="_blank">National Center for Preservation Technology and Training</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
