

<!-- Service Blocks -->
<div class="row margin-bottom-40">
    <div class="col-sm-4">
        <div class="servive-block servive-block-default">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-trophy"></i>
            <a class= "" href='?page=1&termFilter=%5B%7B"inverted"%3Afalse%2C"type"%3A"concept"%2C"context"%3A"d780214e-8815-4350-b330-3ec69871c10f"%2C"context_label"%3A"Resource%20Classification"%2C"id"%3A"Graved780214e-8815-4350-b330-3ec69871c10f"%2C"text"%3A"Grave"%2C"value"%3A"55852466-af1c-46f8-bfb5-4affc547a93f"%7D%2C%7B"inverted"%3Afalse%2C"type"%3A"concept"%2C"context"%3A"b00899d2-e7dc-419e-8416-d241342c8261"%2C"context_label"%3A"Administrative%20Subdivision%20Type"%2C"id"%3A"American%20Cemeteryb00899d2-e7dc-419e-8416-d241342c8261"%2C"text"%3A"American%20Cemetery"%2C"value"%3A"18cc2910-086e-401b-af7d-0c21b1f28290"%7D%5D&temporalFilter=%7B"year_min_max"%3A%5B%5D%2C"filters"%3A%5B%5D%2C"inverted"%3Afalse%7D&spatialFilter=%7B"geometry"%3A%7B"type"%3A""%2C"coordinates"%3A%5B%5D%7D%2C"buffer"%3A%7B"width"%3A"0"%2C"unit"%3A"ft"%7D%2C"inverted"%3Afalse%7D&mapExpanded=false&timeExpanded=false&include_ids=true'><h2 class="txt-color-blue">Graves in the American Cemetery</h2></a>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="servive-block servive-block-default">            
            <i class="icon-custom rounded-x icon-bg-dark fa fa-bookmark-o"></i>
            <a class= "" href='?page=1&termFilter=%5B%7B"inverted"%3Afalse%2C"type"%3A"term"%2C"context"%3A"5e5c52e2-4791-11e5-8b36-b701db12eacc"%2C"context_label"%3A"Creator_Appellation.E82"%2C"id"%3A"Retired%20Senior%20Volunteer%20Program5e5c52e2-4791-11e5-8b36-b701db12eacc"%2C"text"%3A"Retired%20Senior%20Volunteer%20Program"%2C"value"%3A"Retired%20Senior%20Volunteer%20Program"%7D%5D&temporalFilter=%7B"year_min_max"%3A%5B%5D%2C"filters"%3A%5B%5D%2C"inverted"%3Afalse%7D&spatialFilter=%7B"geometry"%3A%7B"type"%3A""%2C"coordinates"%3A%5B%5D%7D%2C"buffer"%3A%7B"width"%3A"0"%2C"unit"%3A"ft"%7D%2C"inverted"%3Afalse%7D&mapExpanded=false&timeExpanded=false&include_ids=true'><h2 class="txt-color-blue">Retired Senior Volunteer Program "Memories" Interviews</h2></a>
        </div>
    </div> 

    <div class="col-sm-4">
        <div class="servive-block servive-block-default">            
            <i class="icon-custom rounded-x icon-bg-dark fa fa-tasks"></i>
            <a class= "" href='?page=1&termFilter=%5B%7B"inverted"%3Afalse%2C"type"%3A"concept"%2C"context"%3A"3847cbdb-2e08-4b5a-ae35-6692c69a0f0e"%2C"context_label"%3A"Heritage%20Resource%20Type"%2C"id"%3A"Historic%20Black%20Church3847cbdb-2e08-4b5a-ae35-6692c69a0f0e"%2C"text"%3A"Historic%20Black%20Church"%2C"value"%3A"b550446a-1b6a-4ee7-af16-7b6d69d66d8a"%7D%5D&temporalFilter=%7B"year_min_max"%3A%5B%5D%2C"filters"%3A%5B%5D%2C"inverted"%3Afalse%7D&spatialFilter=%7B"geometry"%3A%7B"type"%3A""%2C"coordinates"%3A%5B%5D%7D%2C"buffer"%3A%7B"width"%3A"0"%2C"unit"%3A"ft"%7D%2C"inverted"%3Afalse%7D&mapExpanded=false&timeExpanded=false&include_ids=true'><h2 class="txt-color-blue">Historic Black Churches</h2></a>
        </div>
    </div>
</div>