

<!-- Service Blocks -->
<div class="row margin-bottom-40">
    <div class="col-sm-4">
        <div class="servive-block servive-block-default">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-trophy"></i>
            <a class= "" href='?page=1&termFilter=%5B%7B"inverted"%3Afalse%2C"type"%3A"concept"%2C"context"%3A"e68e85f7-c181-4ed7-82eb-4e6f1d91063b"%2C"context_label"%3A"Resource%20Classification"%2C"id"%3A"Gravee68e85f7-c181-4ed7-82eb-4e6f1d91063b"%2C"text"%3A"Grave"%2C"value"%3A"e4bdf874-b446-48b8-a24b-1ee05c3b4f66"%7D%2C%7B"inverted"%3Afalse%2C"type"%3A"concept"%2C"context"%3A"d8277917-aa76-425a-847a-13c3a5b1ef8b"%2C"context_label"%3A"Administrative%20Subdivision%20Type"%2C"id"%3A"American%20Cemeteryd8277917-aa76-425a-847a-13c3a5b1ef8b"%2C"text"%3A"American%20Cemetery"%2C"value"%3A"374ce3bb-60ed-4238-95d2-3b0022fa7037"%7D%5D&temporalFilter=%7B"year_min_max"%3A%5B%5D%2C"filters"%3A%5B%5D%2C"inverted"%3Afalse%7D&spatialFilter=%7B"geometry"%3A%7B"type"%3A""%2C"coordinates"%3A%5B%5D%7D%2C"buffer"%3A%7B"width"%3A"0"%2C"unit"%3A"ft"%7D%2C"inverted"%3Afalse%7D&mapExpanded=false&timeExpanded=false&include_ids=true'><h2 class="txt-color-blue">Graves in the American Cemetery</h2></a>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="servive-block servive-block-default">            
            <i class="icon-custom rounded-x icon-bg-dark fa fa-bookmark-o"></i>
            <a class= "" href='?page=1&termFilter=%5B%7B"inverted"%3Afalse%2C"type"%3A"term"%2C"context"%3A"c07f5ffa-75e8-11e7-a845-f7c1cc250439"%2C"context_label"%3A"Creator_Appellation.E82"%2C"id"%3A"Retired%20Senior%20Volunteer%20Programc07f5ffa-75e8-11e7-a845-f7c1cc250439"%2C"text"%3A"Retired%20Senior%20Volunteer%20Program"%2C"value"%3A"Retired%20Senior%20Volunteer%20Program"%7D%5D&temporalFilter=%7B"year_min_max"%3A%5B%5D%2C"filters"%3A%5B%5D%2C"inverted"%3Afalse%7D&spatialFilter=%7B"geometry"%3A%7B"type"%3A""%2C"coordinates"%3A%5B%5D%7D%2C"buffer"%3A%7B"width"%3A"0"%2C"unit"%3A"ft"%7D%2C"inverted"%3Afalse%7D&mapExpanded=false&timeExpanded=false&include_ids=true'><h2 class="txt-color-blue">Retired Senior Volunteer Program "Memories" Interviews</h2></a>
        </div>
    </div> 

    <div class="col-sm-4">
        <div class="servive-block servive-block-default">            
            <i class="icon-custom rounded-x icon-bg-dark fa fa-tasks"></i>
            <a class= "" href='?page=1&termFilter=%5B%7B"inverted"%3Afalse%2C"type"%3A"concept"%2C"context"%3A"66f19fd4-03d9-4aff-aadb-77ab2be0e2a9"%2C"context_label"%3A"Heritage%20Resource%20Type"%2C"id"%3A"Historic%20Black%20Church66f19fd4-03d9-4aff-aadb-77ab2be0e2a9"%2C"text"%3A"Historic%20Black%20Church"%2C"value"%3A"ee371420-7e31-458d-8932-9dd535f0b761"%7D%5D&temporalFilter=%7B"year_min_max"%3A%5B%5D%2C"filters"%3A%5B%5D%2C"inverted"%3Afalse%7D&spatialFilter=%7B"geometry"%3A%7B"type"%3A""%2C"coordinates"%3A%5B%5D%7D%2C"buffer"%3A%7B"width"%3A"0"%2C"unit"%3A"ft"%7D%2C"inverted"%3Afalse%7D&mapExpanded=false&timeExpanded=false&include_ids=true'><h2 class="txt-color-blue">Historic Black Churches</h2></a>
        </div>
    </div>
</div>